body {
    background-color: #202020;
    color: #cac7c7;
    font-family: helvetica;
    font-size: 1.2em;
}

.content-box {
    background-color: #414141;
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.content-box:not(.titlebar) > div {
    padding: 0.0em;
    margin: 1.0em 0em 1em 0em;
}

.content-box:not(.titlebar) > div:first-child {
    margin-top: 0em;
}

.content-box:not(.titlebar) > div:last-child {
    margin-bottom: 0em;
}

div.titlebar-divider {
    border-bottom: 0.1em solid white;
}

div.titlebar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
}

div.titlebar #main-title {
    font-size: 3.5em;
    padding-bottom: 0.1em;
}

div.titlebar #secondary-title {
    font-size: 1.8em;
}

div.titlebar #img-container {
    width: 8em;
    height: 8em;
    flex-shrink: 0; /* TODO Do something better at high zoom */
    background-image: url("./img/dan-512x512.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 0.5em;
}

.content-box a {
    color: rgb(155, 155, 255);
    text-decoration: none;
    transition-property: text-shadow;
    transition-duration: 0.25s;
}

.content-box a:hover {
    text-shadow:  #dadada 0.02em -0.05em 0.4em;
}

.content-box ul {
    margin: 0em;
    padding-left: 1.5em;
}

.content-box li {
    /*list-style: none;*/
    margin: 0.4em 0em 0.4em 0em;
}

.content-box li:first-child {
    margin-top: 0em;
}

.content-box li:last-child {
    margin-bottom: 0em;
}