---
title: "About Dan"
---
<!doctype html>
<head>
  {% include "head.html" %}
</head>
<body>
  {% include "header.html" %}
  <div class="titlebar-divider"></div>
  <main>
    <div class="content-box">
      <div>
        Hi! I'm Dan, an engineer at Microsoft Edge working on web standards and the web platform.
      </div>
      <div>
        The web is the most important, exciting, and quickly-evolving development platform
        that exists today, and I'm working on making it better for users and developers.
      </div>
      <div>
        I am a <a href="https://www.chromium.org/blink/guidelines/api-owners/">Blink API Owner</a>,
        which means that I work with a
        <a href="https://source.chromium.org/chromium/chromium/src/+/main:third_party/blink/API_OWNERS">small group</a>
        of other experts to review all proposals for shipping, changing, or experimenting with web-facing APIs
        in the <a href="https://www.chromium.org/Home/">Chromium Project</a>.
      </div>
      <div>
        I've worked to help bring a number of web standards and features to life including
        <a href="https://w3c.github.io/edit-context/">Edit Context</a>, the
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/CSS_Custom_Highlight_API">CSS Custom Highlight API</a>,
        <a href="https://github.com/tc39/proposal-import-attributes">import attributes</a>,
        <a href="https://web.dev/articles/css-module-scripts">CSS module scripts</a>, and
        <a href="https://github.com/tc39/proposal-json-modules">JSON module scripts</a>.
      </div>
      <div>
        This journey has involved contributions in several web standards organizations: the
        <a href="https://wiki.csswg.org/">CSS Working Group</a>,
        the <a href="https://www.w3.org/groups/wg/webediting/">Web Editing Working Group</a>, the
        <a href="https://open-ui.org/">OpenUI Community Group</a>, <a href="https://tc39.es/">TC39</a>,
        and the <a href="https://whatwg.org/">WHATWG</a>.
      </div>
      <div>
        During this time I've been an active contributor to Chromium,
        with <a href="https://chromium-review.googlesource.com/q/owner:daniec+status:merged">commits</a> spanning
        DOM, accessibility, CSS, JS, and editing.
      </div>
      <div>
        Prior to my involvement in standards, I helped to complete a
        <a href="https://blogs.windows.com/msedgedev/2017/04/19/modernizing-dom-tree-microsoft-edge/">massive re-architecting</a>
        of the core of the EdgeHTML rendering engine to enable it to meet the performance demands of the modern web.
      </div>
      <div>
        I'm excited to continue pushing the capabilities of the web forward. If this sounds interesting,
        please feel free to <a href="/">contact me</a>!
      </div>
    </div>
  </main>
</body>
